
assets/schedule.json
assets/*_adjacencies.txt
*.pyc
*.iml
*.xml
.DS_Store

.idea
__pycache__
*.py[cod]
*.svg
*.sqlite
*.out.sql
*.zip

test.py
gamelist.tsv

.env
venv

*.pclprof

logs/*
config.toml

!variants/impdip/config.json
!variants/impdip/impdip.2.0.svg
